<% title "Edit Registration" %>
<%= render :partial => 'user_nav' %>


<%= render :partial => 'form' %>

<% if current_user %>
<p>
  <%= link_to "Show", @registration %> |
  <%= link_to "View All", registrations_path %>
</p>
<% end %>
